.home-intro {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;

  min-width: var(--width100);
  min-height: rem(666);
  padding-top: rem(100);
  padding-left: vw(100);

  background-image: url('/src/assets/other/images/backgrounds/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;

  min-height: vh(720);
}

.home-intro-title {
  padding: 0 calc(50% - rem(500));
  padding-left: 0;
  padding-right: rem(2182);
  font-family: var(--f1);
  font-weight: bold;
  font-size: large;
  line-height: em(20);
}