@mixin on-load-animation($translateX: rem(150), $translateY: rem(150), $rotateX: 10deg, $time: 1s) {
  @keyframes translate-anim {
    from {
      transform: scale(0) translate($translateX, $translateY) rotateX($rotateX);
    }
    to {
      transform: scale(1) translate(rem(0), rem(0)) rotateX(0deg);
    }
  }
  animation: translate-anim $time ease;
}

.flex-center-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: fixed;
  background: none;
  font-size: rem(20);
  line-height: rem(24);
  min-width: 100%;
  min-height: rem(100);
  z-index: 1000;
  -webkit-backdrop-filter: brightness(60%);
  backdrop-filter: brightness(60%);

  ul,
  ol {
    list-style: none;
    margin: 0;
  }
}

.header-wrapper {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(16);
  padding-bottom: rem(16);
  min-width: 100%;
  height: 100%;
  color: var(--white);
  padding: rem(0) calc(50% - rem(820));
  padding-left: rem(16);
  padding-right: rem(16);

  @media #{$sm-and-down} {
    padding-right: 0;
  }
}

.nav-left,
.nav-right {
  @extend .flex-center-row;
}

.nav-list {
  @extend .flex-center-row;
  column-gap: rem(25);
  padding-right: rem(25);
  flex-wrap: wrap;
  height: 100%;
  transition: var(--global-animation);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: rem(10);
  }

  &::-webkit-scrollbar-thumb {
    //background-color: var(--scroll-color);
    background-color: var(--black);
  }

  li {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: rem(960)) {
    display: flex !important;
  }

  @media #{$sm-and-down} {
    position: fixed;
    left: 0;
    top: rem(87.5);
    padding: 0;
    overflow-y: scroll;

    flex-flow: column;
    justify-content: flex-start;

    box-shadow: rem(5) rem(5) rem(35) var(--red2);
    padding-top: rem(25);
    //transform: translateX(rem(1250));
    transform: scaleX(0);
    filter: opacity(0);
    background-color: var(--black);

    min-width: 100%;
    height: vh(918);

    li {
      width: 100%;
      .router-link-active {
        border: rem(1) solid var(--red);
      }
      .nav-link {
        width: 100%;
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: rem(10);
    }

    &::-webkit-scrollbar-thumb {
      //background-color: var(--scroll-color);
      background-color: var(--black);
    }
  }

  @media #{$smOnly} {
    transform: translate(rem(-2000));
    filter: opacity(0);
    min-width: 50%;
    height: vh(918);
    overflow-y: scroll;
    box-shadow: rem(5) rem(5) rem(35) var(--red2);

    li {
      width: 100%;

      .nav-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left: rem(30);
        color: var(--white);
      }
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: rem(10);
    }

    &::-webkit-scrollbar-thumb {
      //background-color: var(--scroll-color);
      background-color: var(--white);
    }
  }

  @media screen and (max-width: 300px) {
    li {
      transform: scale(0.8);
    }
  }
}

.nav-on {
  display: block;
  filter: opacity(1);
  transition: all 0.5s ease;
  animation: anim-opacity 0.5s ease;
}

.nav-off {
  display: none;
  filter: opacity(0);
  transition: all 0.5s ease;
  animation: anim-opacity 0.5s ease;
}

.nav-list-on {
  display: none;
  animation: translate-anim 0.5s ease;
  transition: var(--global-animation);
  cursor: pointer;

  min: {
    width: rem(50);
    height: rem(50);
  }

  z-index: 100;

  &.active {
    & > .nav-on {
      display: none;
      filter: opacity(0);
    }

    & > .nav-off {
      display: block;
      filter: opacity(1);
    }

    & + .nav-list {
      display: flex;
      filter: opacity(1);
      transition: all 0.5s ease;

      @media #{$sm-and-down} {
        //transform: translate(rem(0));
        transform: scaleX(1);
        filter: opacity(1);
      }

      @media #{$smOnly} {
        filter: opacity(1);
      }
    }
  }

  @media #{$sm-and-down} {
    display: block;
  }
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(20);
  font-weight: 400;
  line-height: rem(30);
  transition: all 0.5s ease;
  width: 100%;
  color: var(--white);

  &:hover {
    border-bottom: rem(3) solid animation;
    animation: infinite-logo 10s infinite linear;
    color: var(--red2) !important;
    transition: var(--global-animation);
  }

  &:focus {
    color: var(--white);
  }

  @media #{$sm-and-down} {
    font-size: rem(30);
    line-height: rem(40);
    padding-left: 30%;
  }

  &.red-border {
    border: rem(4) solid var(--red2);
  }
}

.router-link-active {
  border-bottom: rem(4) solid var(--red2);
  transition: var(--global-animation);
}

.logo {
  max: {
    height: rem(58);
    width: rem(132);
  }
  transition: var(--global-animation);

  &:hover {
    @include on-load-animation(rem(150), rem(150), 15deg, 0.5s);
    animation: infinite-logo 10s infinite linear;
  }
}

@keyframes anim-opacity {
  from {
    filter: opacity(0);
    transform: scaleY(0);
  }
  to {
    filter: opacity(1);
    transform: scaleY(1);
  }
}

@keyframes pop-left {
  from {
    transform: translate(rem(-1250));
  }

  to {
    transform: translate(rem(0));
  }
}

@keyframes nav-on {
  from {
    transform: translate(rem(-1025));
  }

  to {
    transform: translate(rem(0));
  }
}

@keyframes infinite-logo {
  0% {
    box-shadow: rem(5) rem(5) rem(35) var(--red);
  }

  30% {
    box-shadow: rem(5) rem(5) rem(80) var(--red);
  }

  60% {
    box-shadow: rem(5) rem(5) rem(40) var(--red);
  }

  80% {
    box-shadow: rem(5) rem(5) rem(65) var(--red);
  }

  90% {
    box-shadow: rem(5) rem(5) rem(25) var(--red);
  }

  100% {
    box-shadow: rem(5) rem(5) rem(35) var(--red);
  }
}
